doctype html
html(lang="en")
  head
    title= "Spaaaaaace!"
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="./space.css")
    script(src="./app.js")
  body
    #space.space
