doctype html
html(lang="en")
  head
    title= "Alt.js Brownbag!"
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src="./app.js")
  body
    #altdemo
